html{
    height: 100%;
    margin: 0; 
    overflow-x: hidden;

}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    overflow-x: hidden;


}
#forma{
    margin-top: 5%; 
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#searchBar{
    width: 60%;
    height: 60px;
    border-radius: 999px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gray;
    padding-left: 60px;
    text-transform: capitalize;
    transition: 0.6s;

}

#searchBar:focus{
    width: 80%;
    transition: 0.6s;
}
#forma::before{
    content: "\1F50D";
    font-size: 17px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 17px;
    left: 55px;
    z-index: 20;
}
#reccomendation-container, #reccomendation-container>p>a, .hero{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !;

}
#reccomendation-container{
    margin-top: 100px;
}
.reccomendation{
    width: 100%;
    height: 400px;
    min-width: 300px;
    margin: 30px 30px;
    background-image: url("https://img.youtube.com/vi/5abamRO41fE/hqdefault.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;



}
.reccomendation:hover{
    scale: 1.09;
    z-index: 100;
    background-size: 150%;


    transition: 0.6s;
}
.reccomendation:hover .info-overlay{
    background: rgba(0, 0, 0, 0);
    transition: 0.6s;


}

.reccomendation > .info-overlay{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 10px;
    transition: 0.6s;


}
.info{
    padding-left: 20px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 10px;

    

}
.info p{
    font-size: 13px;
    
}
.info h5{
    height: 30px;
    text-align: center;
}





.reccomendation > h5{
 font-size: 2rem;
}
.reccomendation > p{
    font-size: 0.8rem;
   }

.hero >h1{
    font-size: 8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.hero >h3{
    font-size: 2rem;
    text-align: center;
}
#reccomendation-container  p.error{
    text-align: center;
    /* color: red; */
}
@media only screen and (max-width: 1200px) {
    #reccomendation-container{
        grid-template-columns: 1fr;
    }
}
.test{
    width: 100%;
    height: 300px;
    background: blue;
}
.test-children{
    width: 30%;
    height: 200px;
    background: red;
    margin-left: 10px;
}
.modal-dialog{
    width: 80vw;
    max-width: 100%;

}
.modal-content{
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.modal-header>button{
    color: #fff;
}
.modal-header{
    height: 50px;
}
.modal-body, .modal-header{
    background: transparent;
    border: none;
}
.modal-body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-body h5{
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.modal-body iframe{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
}
.modal-body p{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}